/* Estilo do Switch */
html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    background-color: '#f5f5f5';
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
}

.header {
    padding-top: env(safe-area-inset-top);
}

/* Animação para a mensagem de salvo */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}